---
import { Image } from "astro:assets";

---

<section
  class="container relative mx-auto overflow-hidden bg-n-50 py-20 sm:py-24 lg:py-28 xl:py-36"
>
  <Image
    src="/images/mobile.png"
    alt=""
    width={380}
    height={840}
    class="pointer-events-none absolute hidden lg:block"
  />

  <!-- Text Section -->
    <div class="fade-in-up mx-auto max-w-[858px] flex flex-col items-center gap-12 text-center sm:gap-14 lg:gap-16">

      <!-- Title  -->
      <div
        class="flex w-full flex-col items-center gap-1">
        <p class="font-medium text-xs tracking-tight text-blue-500 sm:text-base" >
          MEET YOUR NEW AI PHONE
        </p>
        <p class="font-bold text-3xl leading-none tracking-[-0.04em] text-n-900 md:text-5xl lg:text-5xl" >
          Built for the way you live and learn.
        </p>
      </div>

      <!-- Body Text -->
      <p
        class="max-w-[220px] text-2xl font-bold leading-[1.5] text-n-800 sm:max-w-[280px] sm:text-lg lg:max-w-none lg:text-3xl"
        style="font-family: 'SecondaryFont', sans-serif;"
      >
        This isn’t a demo. It’s a hands-on AI experience. In 60–90 minutes, you’ll learn how to
        actually use AI in your daily life, from notes to content to productivity.
      </p>

      <div
        class="relative h-[44px] w-[189px] shrink-0"
      >
        <div class="absolute" aria-hidden="true">
          <Image
            src="/images/guide-galaxy-logo.svg"
            alt=""
            width={189}
            height={44}
          />
        </div>
      </div>
    </div>
</section>
