---
// DATA //
const sectionContent = {
  title: "What to expect",
  what_to_expect: [
    { text: "When to use Copilot and how to craft a prompt" },
    { text: "Prompt you can use across subjects and projects" },
    { text: "Guided demos + quick try-it-yourself practise" },
  ],
};
---

<!-- What to expect Section -->
<section
  class="container mx-auto flex flex-col gap-7 py-6 pb-16 sm:gap-9 sm:pb-24"
  data-sal="slide-up"
  data-sal-delay="400"
  data-sal-duration="500"
>
  <!-- Title -->
  <p class="sub-title">{sectionContent.title}</p>

  <!-- What to Expect - Pointers -->
  <div
    class="flex flex-col items-center gap-8 px-7 xl:flex-row xl:justify-center xl:gap-10"
  >
    {
      sectionContent.what_to_expect.map((expectItem) => (
        <div class="bg-[url('/images/paper-bg.png')] [background-size:100%_100%] bg-center bg-no-repeat px-6 py-8 text-center sm:w-2/3 sm:px-11 lg:w-[50%] xl:w-1/3">
          <p class="para-text">{expectItem.text}</p>
        </div>
      ))
    }
  </div>
</section>
