---
import ExperienceCard from "../../components/ExperienceCard.astro";
import { experienceCards } from "../../data/experience-data";
---

<section>
  <div class="container mx-auto px-5 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-11 py-16 sm:gap-14 sm:py-20 md:gap-16 lg:py-28">
      <div class="flex w-full flex-col items-center gap-1 text-center md:gap-0.5">
        <p class="primary-font text-sm font-medium text-blue-500 md:text-base">
          Galaxy AI Navigator Labs
        </p>
        <h2 class="primary-font text-n-900 text-3xl font-bold leading-none sm:text-4xl lg:text-5xl">
          What You’ll Experience
        </h2>
      </div>

      <div class="grid w-full grid-cols-1 gap-5 sm:gap-6 md:grid-cols-2 lg:grid-cols-3 xl:max-w-[1436px]">
        {experienceCards.map((experienceCardsItem) => (
          <ExperienceCard {...experienceCardsItem} />
        ))}
      </div>
    </div>
  </div>
</section>
