---
---
<section
  class="bg-[url('/images/form-bg.png')] bg-center py-6 flex flex-col gap-10 md: py-10"
>
  <div class="container mx-auto flex flex-col items-center">

    <!-- Booking Details Card -->
    <div class="flex flex-col w-[94%] md:mb-4 lg:mb-12 lg:flex-row">
      
      <!-- Left side - Model Image section -->
      <div
        class="relative bg-n-50 flex justify-center items-end pt-12 z-10 rounded-tl-2xl rounded-tr-2xl lg:rounded-bl-2xl lg:rounded-tr-[0px] lg:w-1/2"
      >
        <img
          src="/images/success-page-image.png"
          alt="model-img"
          class="w-[72%] object-contain lg:w-[90%] -mb-8"
        />
      </div>

      <!-- Right side - Details section -->
      <div
        class="relative bg-red-500 flex flex-col gap-10 py-18 rounded-br-2xl rounded-bl-2xl md:py-22 lg:rounded-bl-[0px] lg:rounded-tr-2xl lg:w-1/2 lg:justify-around"
      >
        <div class="flex flex-col w-full gap-10 px-8 md:gap-4 md:px-12">

          <!-- Title -->
          <p
            class="sub-title text-n-50 text-left md:pb-10 md:text-4xl lg:text-5xl "
          >
            Your booking details:
          </p>

          <!-- Booking Values -->
          <div class="flex flex-col gap-6 text-2xl text-n-50 font-semibold lg:gap-8">

            <!-- Name -->
            <div class="flex md:text-3xl">
              <div class="min-w-[30%] flex justify-between">
                <p>Name</p>
                <span>:</span>
              </div>
              <p class="font-medium pl-2">Swagat Salunke</p>
            </div>

            <!-- Session -->
            <div class="flex text-2xl text-n-50 font-semibold md:text-3xl">
              <div class="min-w-[30%] flex justify-between">
                <p>Session</p>
                <span>:</span>
              </div>
              <p class="font-medium pl-2">15 Sep, 03:00 PM - 04:00 PM</p>
            </div>

            <!-- Center -->
            <div class="flex text-2xl text-n-50 font-semibold md:text-3xl">
              <div class="min-w-[30%] flex justify-between">
                <p>Center</p>
                <span>:</span>
              </div>
              <p class="font-medium pl-2">
                Reliance Digital, 137, Gr to 2nd Flr, Sonal Business Park, Gharda
                Circle Dombivili East Thane - 421203
              </p>
            </div>
          </div>
        </div>

        <!-- Confirmation block -->
        <div
          class="bg-red-700 text-n-50 px-5 py-5 w-[90%] self-start rounded-tr-2xl rounded-br-2xl"
        >
          <p class="para-text text-n-50 text-left">Masterclass Confirmation Number</p>
          <p class="text-4xl md:text-5xl font-semibold tracking-wider">1523 - 125689</p>
        </div>
      </div>

    </div>


    <!-- Buttons at the bottom -->
    <div
        class="flex flex-col items-center gap-5 w-full py-6 pt-12 lg:flex-row lg:p-8"
      >
        <!-- View My Ticket Button -->
        <button
          type="submit"
          class="btn-cta w-[70%] lg:w-[50%]"
          data-sal="slide-up"
          data-sal-duration="200"
          data-sal-delay="200"
          data-sal-easing="ease-out-back"
        >
          View My Ticket
        </button>
        <!-- Add to Calendar Button -->
        <button
          type="submit"
          class="btn-cta w-[70%] lg:w-[50%]"
          data-sal="slide-up"
          data-sal-duration="200"
          data-sal-delay="200"
          data-sal-easing="ease-out-back"
        >
          Add to Calendar
        </button>
    </div>

  </div>
</section>
