---

---

<!-- Top Row: brand left, button right -->
<div
  class="container mx-auto flex items-center justify-between gap-10 w-full p-6 absolute z-99 left-[50%] -translate-x-1/2 top-0"
  data-sal="slide-down"
  data-sal-duration="400"
>
  <!-- Brand logo -->
  <a
    href="#"
    target="_blank"
    class="w-3/6 max-w-40 sm:max-w-44 lg:max-w-1/4 xl:max-w-[15%]"
  >
    <img src="/images/reliance-digital-logo.png" alt="Brand" class="w-full" />
  </a>

  <!-- Microsoft -->
  <a href="#" class="w-2/5 max-w-36 sm:max-w-40 lg:max-w-1/4 xl:w-[14%]">
    <img src="/images/microsoft-logo.png" alt="Microsoft" class="w-full" />
  </a>
</div>
