---
import { Image } from "astro:assets";
import relianceLogoDark from "../../assets/reliance-logo-dark.svg";
import relianceLogoLight from "../../assets/reliance-logo-light.svg";
import samsungLogoDark from "../../assets/samsung-logo-dark.svg";
import samsungLogoLight from "../../assets/samsung-logo-light.svg";
---

<!-- Top Row: brand left, button right -->
<div
  class="container absolute inset-x-0 top-0 z-99 mx-auto flex w-full items-center justify-between gap-10 p-6"
  data-sal="slide-down"
  data-sal-duration="400"
>
  <!-- Brand logo -->
  <a
    href="https://www.reliancedigital.in/"
    target="_blank"
    class="w-3/6 max-w-40 sm:max-w-44 lg:max-w-1/4 xl:max-w-[15%]"
  >
    <Image
      src={relianceLogoLight}
      alt="Reliance Digital"
      width={400}
      height={92}
      class="show-in-light hide-in-dark w-full"
    />
    <Image
      src={relianceLogoDark}
      alt="Reliance Digital"
      width={400}
      height={92}
      class="hide-in-light show-in-dark w-full"
    />
  </a>

  <!-- Microsoft -->
  <a
    href="https://www.samsung.com"
    target="_blank"
    class="w-2/5 max-w-36 sm:max-w-40 lg:max-w-1/4 xl:w-[14%]"
  >
    <Image
      src={samsungLogoLight}
      alt="Samsung"
      width={320}
      height={64}
      class="show-in-light hide-in-dark experience-card-icon w-full"
    />
    <Image
      src={samsungLogoDark}
      alt="Samsung"
      width={320}
      height={64}
      class="hide-in-light show-in-dark experience-card-icon w-full"
    />
  </a>
</div>
