---
// OTHERS //
import RootLayout from "../layouts/RootLayout.astro";

// SECTIONS //
import CopilotEdition from "../sections/CopilotEdition.astro";
import Footer from "../sections/Footer.astro";
import Form from "../sections/Form.astro";
import Hero from "../sections/Hero.astro";
import Highlights from "../sections/Highlights.astro";

---

<!-- Root Layout  -->
<RootLayout >
  <div class="h-screen">
    <!-- Hero section -->
    <Hero />
    <!-- Copilot Edition section  -->
     <CopilotEdition />
    <!-- Copilot Edition section  -->
     <Highlights />
    <!-- Main/Form section -->
    <Form/>
    <!-- Footer section -->
    <Footer />
  </div>
</BaseLayout>
