---
// OTHERS //
import RootLayout from "../layouts/layout.astro";

// SECTIONS //
import Footer from "../sections/Footer.astro";
import Form from "../sections/Form.astro";
import Hero from "../sections/Hero.astro";

---

<!-- Root Layout  -->
<RootLayout>
  <div class="h-screen">
    <!-- Hero section -->
    <Hero />
    <!-- Main/Form section -->
    <Form/>
    <!-- Footer section -->
    <Footer />
  </div>
</BaseLayout>
