---
const { couponCode } = Astro.props as Props;
---

{/* Coupon Code Component */}
<div class="text-center lg:px-18 self-center">
  {/* Label */}
  <p class="text-3xl font-semibold mb-2 text-blue-500">Discount Coupon</p>
  {/* Code */}
  <p
    class="text-3xl font-semibold text-red-500 border-2 border-red-500 py-2 px-4 w-70"
  >
    {couponCode}
  </p>
</div>
