---

---

<!-- Top Row: brand left, button right -->
<div class="flex items-center justify-between w-full py-8 px-32 max-lg:p-8 absolute z-99">
  <!-- Brand logo -->
  <a href="#">
    <img
      src="/images/reliance-digital-logo.png"
      alt="Brand"
      class="h-20 max-md:h-16 w-auto"
    />
  </a>

  <!-- Microsoft -->
  <img
    src="/images/microsoft-logo.png"
    alt="Microsoft"
    class="h-auto w-[248px]"
  />
</div>
