---
type Props = {
  eyebrow: string;
  title: string;
};

const { eyebrow, title } = Astro.props;
---

<div class="flex w-full flex-col items-center gap-1 text-center md:gap-2">
  <p
    class="primary-font text-sm font-medium text-blue-500 md:text-base"
    data-sal="slide-down"
    data-sal-duration="600"
  >
    {eyebrow}
  </p>
  <p
    class="primary-font text-n-900 text-3xl font-bold leading-none sm:text-4xl lg:text-5xl"
    data-sal="fade-up"
    data-sal-delay="120"
    data-sal-duration="650"
  >
    {title}
  </p>
</div>
