---

---

<!-- Certificate -->
<section class="container mx-auto">
  <div class="flex flex-col gap-8 text-center p-10">
    <h3 class="text-4xl font-semibold text-n-950">Certificate</h3>

    <p class="text-2xl font-medium text-n-950 max-w-4xl mx-auto">
      Earn an AI-Ready Certificate (Microsoft Copilot Edition) co-branded with
      The AI School—add it to LinkedIn, your CV, or your Instagram bio.
    </p>

    <div
      class="flex items-center justify-center gap-20 max-md:flex-col max-md:gap-10"
    >
      <img src="/images/copilot-logo.svg" alt="Copilot" class="h-12 w-auto" />
      <img
        src="/images/ai-school-logo.png"
        alt="The AI School"
        class="h-auto w-auto"
      />
    </div>
  </div>
</section>
