---
// OTHERS //
import { title } from "process";

const pageContent = {
  title: "Booking confirmed.",
  subTitle:
    "Check your email for your ticket and full details. If you don’t see it, check spam/junk.",
};
---

<section
  class="w-full min-h-screen py-38 pb-14 lg:py-44 lg:pb-28 flex flex-col gap-10"
>
  <div class="flex flex-col items-center justify-center px-8 gap-4">
    <!-- Section Title Header -->
    <h2
      class="section-title"
      data-sal="slide-up"
      data-sal-delay="200"
      data-sal-duration="300"
    >
      {pageContent.title}
    </h2>
    <p class="para-text leading-snug md:w-3/4">{pageContent.subTitle}</p>
  </div>
  <div class="bg-[url('/images/form-bg.png')] bg-center">
    <div class="container mx-auto p-8 flex flex-col lg:flex-row w-full">
      <!-- Left side - Model Image section -->
      <div
        class="relative bg-n-50 rounded-t-2xl flex items-center justify-center pt-12 z-10 lg:w-1/2 lg:rounded-l-2xl"
      >
        <img
          src="/images/success-page-image.png"
          alt="model-img"
          class="w-[72%] lg:w-[90%] -mb-8"
        />
      </div>
      <!-- Right side - Details section -->
      <div
        class="relative bg-red-500 rounded-b-2xl flex flex-col justify-center pt-14 md:pt-16 pb-10 gap-10 md:gap-14 lg:w-1/2"
      >
        <div class="w-full flex flex-col gap-6 md:gap-8 px-8 md:px-12">
          <p
            class="text-3xl md:text-5xl text-n-50 font-semibold text-center md:text-left md:pb-10"
          >
            Your booking details:
          </p>
          <!-- Name -->
          <div class="flex text-2xl md:text-3xl text-n-50 gap-6">
            <div class="w-26 md:w-30 flex justify-between">
              <p>Name</p>
              <span>:</span>
            </div>
            <p>Swagat Salunke</p>
          </div>
          <!-- Session -->
          <div class="flex text-2xl md:text-3xl text-n-50 gap-6">
            <div class="w-26 md:w-30 flex justify-between">
              <p>Session</p>
              <span>:</span>
            </div>
            <p>15 Sep, 03:00 PM - 04:00 PM</p>
          </div>
          <!-- Center -->
          <div class="flex text-2xl md:text-3xl text-n-50 gap-6">
            <div class="w-26 md:w-30 flex justify-between">
              <p>Center</p>
              <span>:</span>
            </div>
            <p>
              Reliance Digital, 137, Gr to 2nd Flr, Sonal Business Park, Gharda
              Circle Dombivili East Thane - 421203
            </p>
          </div>
        </div>
        <!-- Confirmation block -->
        <div
          class="rounded-r-xl bg-red-600 text-n-50 px-8 py-5 w-[90%] font-semibold text-left self-start"
        >
          <p class="text-xl md:text-2xl">Masterclass Confirmation Number</p>
          <p class="text-4xl md:text-5xl tracking-wider">Hello</p>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div
      class="container mx-auto pb-8 flex justify-center items-center flex-col gap-8 w-full lg:flex-row lg:p-8"
    >
      <!-- View My Ticket Button -->
      <button
        type="submit"
        class="btn-cta w-[70%] lg:w-[50%]"
        data-sal="slide-up"
        data-sal-duration="400"
        data-sal-delay="1000"
        data-sal-easing="ease-out-back"
      >
        View My Ticket
      </button>
      <!-- Add to Calendar Button -->
      <button
        type="submit"
        class="btn-cta w-[70%] lg:w-[50%]"
        data-sal="slide-up"
        data-sal-duration="400"
        data-sal-delay="1000"
        data-sal-easing="ease-out-back"
      >
        Add to Calendar
      </button>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center px-8 gap-4">
    <!-- Coupon/Ticket icon -->
    <img src="/images/coupon-logo.svg" alt="ticket" class="w-30" />
    <!-- Section Title Header -->
    <h2
      class="section-title"
      data-sal="slide-up"
      data-sal-delay="200"
      data-sal-duration="300"
    >
      Your Reliance Digital Referral Discount codes
    </h2>
    <!-- Sub Title -->
    <p class="sub-title leading-snug md:w-4/5">
      You'll also receive two single-use discount codes by email.
    </p>

    <!-- Second Subtitle -->
    <p class="para-text leading-snug md:w-4/5">
      Redeem them online or in-store for exclusive offers.<br />
      <a class="text-cyan-500 underline" href="#"> Terms & conditions </a>
      apply.
    </p>
  </div>
</section>
