---
// COMPONENTS //
import FaqItems from "../components/FaqItems.astro";

// DATA //
const sectionContent = {
  title: "Frequenly Asked Questions",
  faqItemList: [
    {
      title: "Do I need to know Copilot already?",
      description: "After booking, you'll get two discount codes…",
    },
    {
      title: "Will I receive a certificate?",
      description: "Yes, you can reschedule up to 24 hours in advance…",
    },
    {
      title: "Is it free?",
      description: "Yes, you can reschedule up to 24 hours in advance…",
    },
    {
      title: "What is the Masterclass Confirmation Number?",
      description: "Yes, you can reschedule up to 24 hours in advance…",
    },
    {
      title: "How do the Reliance Digital Referral Discount codes work?",
      description:
        "After booking, you’ll get two discount codes by email—single-use each. You and a friend can redeem one code each for exclusive offers & deals online or in-store.",
    },
    {
      title: "What ID should I carry for the masterclass?",
      description: "Yes, you can reschedule up to 24 hours in advance…",
    },
    {
      title: "How is my data used?",
      description: "Yes, you can reschedule up to 24 hours in advance…",
    },
  ],
};
---

<!-- FAQ Section -->
<section
  class="w-full px-8 py-18 container mx-auto flex flex-col items-center gap-12"
>
  <!-- Section Title Header -->
  <h2
    class="section-title xl:w-3/5"
    data-sal="slide-up"
    data-sal-delay="200"
    data-sal-duration="300"
  >
    {sectionContent.title}
  </h2>

  <!-- FAQ List Component -->
  <FaqItems items={sectionContent.faqItemList} />
</section>
