---
// COMPONENTS //
import FaqItem from "../components/FaqItem.astro";

const faqs = [
  {
    id: "data-use",
    title: "How is my data used?",
    description: "After booking, you'll get two discount codes…",
    open: true,
  },
  {
    id: "change-appointment",
    title: "Can I change my appointment?",
    description: "Yes, you can reschedule up to 24 hours in advance…",
  },
];
---

<!-- FAQ Section -->
<section class="w-full px-8 py-10">
  <div
    class="flex flex-col gap-12 justify-start items-center w-full max-w-2/3 mx-auto"
  >
    <!-- Section Header -->
     <h2 class="section-title">Frequenly Asked Questions</h2>

    <!-- FAQ List -->
    <FaqItem items={faqs} />
  </div>
</section>
