---
// COMPONENTS //
import Header from "../components/Header.astro";

---

<!-- Hero Section with bg image -->
<section
  class="relative bg-[url('/images/bg-image.png')] bg-center bg-cover min-h-screen"
>
  <div class="container mx-auto py-8 max-md:px-8 pt-[144px]">
    <!-- Main -->
    <div class="flex justify-center gap-8 items-center px-32 max-md:px-8">
      <!-- LEFT: stacked logos -->
      <div
        class="flex flex-col items-center gap-9 max-md:gap-7 lg:pr-24 py-12 max-md:p-0"
      >
        <!-- Masterclass -->
        <img
          src="/images/masterclass-logo.png"
          alt="Masterclass"
          class="w-[568px]"
        />
        <!-- Mobile Model -->
        <img
          src="/images/mobile-model.png"
          alt="mobile-model"
          class="h-auto w-[460px] hidden max-lg:block"
        />
        <!-- Launchpad -->
        <img
          src="/images/launchpad-logo.png"
          alt="Launchpad"
          class="h-auto w-4/5"
        />
        <!-- Register button -->
        <button
          type="submit"
          class="cursor-pointer bg-blue-500 text-n-50 py-6 px-12 max-md:p-3 max-md:px-5 text-2xl max-md:text-lg font-semibold leading-none"
        >
          Register Now
        </button>
      </div>

      <!-- RIGHT: single combined image (student + doodles) -->
      <div class="flex justify-center md:justify-end max-lg:hidden">
        <img
          src="/images/model.png"
          alt="Student with doodles"
          class="h-auto w-[740px] drop-shadow-xl"
        />
      </div>
    </div>
  </div>
</section>
