---
// STYLES //
import "../styles/global.css";
---

<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Page title -->
    <title>RD AI Campaign</title>
  </head>
  <!-- Body -->
  <body class="bg-background text-foreground font-sans">
    <!-- Pages content goes here -->
    <slot />
  </body>
</html>
