---
// STYLES //
import "../styles/global.css";
import "sal.js/dist/sal.css";

// LAYOUTS //
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Head from "../components/layout/Head.astro";

const {
  title = "PlAiground Masterclass by Microsoft & Reliance",
  description = "Join the PlAiground Masterclass by Microsoft & Reliance Digital. Beginner-friendly AI workshop with a certificate. Learn, prompt & create.",
  ogImage = "/images/og-image.png",
  ogUrl = "https://www.reliancedigital.in/",
} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <!-- Head -->
  <head>
    <meta charset="UTF-8" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Head
      title={title}
      description={description}
      ogImage={ogImage}
      ogUrl={ogUrl}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!-- Body -->
  <body class="bg-background text-foreground font-sans">
    <!-- Commion Header -->
    <Header />

    <!-- Pages content goes here -->
    <slot />

    <!-- Common Footer -->
    <Footer />

    <script type="module" is:inline>
      import sal from "https://cdn.skypack.dev/sal.js";
      sal({ threshold: 0.1, once: true });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DB1S5GND32"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-DB1S5GND32");
    </script>
  </body>
</html>
